0 06-23/12 * * * /bin/bash -l -c "python3 ~/github/paper_scraper/jmlr.py "
10 06-23/12 * * * /bin/bash -l -c "python3 ~/github/paper_scraper/elsevier.py "
20 06-23/12 * * * /bin/bash -l -c "python3 ~/github/paper_scraper/springer.py "
30 06-23/12 * * * /bin/bash -l -c "python3 ~/github/paper_scraper/ieee.py "

